/* styles.css */

* {
  color: #02006c;
  background-color: #59788e;
  font-weight: bold;
  
  
}
.center {
  text-align: center;
}

.dots {
  display: inline;
}

ul {

  text-align: center;
  list-style-type: none;
}

ol {
  width: 600px;
  margin-left: 675px;
}

h1, h2 {
  text-decoration: underline;
  color: #63c5da
}

body {
  font-size: large;
}

.flex-container {
  
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  
}

